.card {
  object-fit: cover;
  object-position: center center;
  color: black !important;
  margin-right: 50px;
}
.card-title {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 30px;
}
.card-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.galway-cardBody {
  background-color: #bc1a6e;
  color: white;
}
.cork-cardBody {
  background-color: #de3151;
  color: white;
}
.westport-cardBody {
  background-color: #d93b30;
  color: white;
}
.waterford-cardBody {
  background-color: #cc2d4a;
  color: white;
}
.cardImage {
  height: 180px;
}
.col-3 {
  max-height: 400px !important;
}
/* .Inspiration-Container {
  background-color: white !important;
  width: 1000vh !important;
} */
/* .cards {
  border-radius: 25px !important;
}
.Inspiration-Div {
  background-color: white !important;
} */
