.text-on-card {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 36px;
  margin-top: 600px;
}
.card {
  margin-bottom: 500px;
  border: none;
  height: 400px;
  width: 1600px;
}
.flexible-button {
  margin-top: 20px;
  border-radius: 25px;
  height: 50px;
  padding: 12px 24px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  background: linear-gradient(
      90deg,
      rgb(111, 1, 156) 0%,
      rgb(198, 1, 126) 135.12%
    )
    repeat scroll 0% 0% padding-box text !important;

  /* 
 
  cursor: pointer !important;
  display: inline-block !important;
  
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: auto !important;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;

  color: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%)
    repeat scroll 0% 0% padding-box text !important;

  touch-action: manipulation !important;
 
  font-size: 15px !important;
  line-height: 24px !important;
  font-weight: 600 !important;
  border-radius: 1000px !important;
  outline: currentcolor none medium !important;
  transition: box-shadow 0.2s ease-out 0s, -ms-transform 0.2s ease-out 0s,
    transform 0.2s ease-out 0s, transform 0.2s ease-out 0s !important;
  border: initial !important;
  */
}
