.App {
  background-color: black !important;
  height: 100vw;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a {
  font-size: 14px !important;
  line-height: 18px !important;
  color: inherit !important;
  font-weight: 600 !important;
  margin-top: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.second {
  background-color: white !important;
}
*/ .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/* .App-footer {
  box-direction: normal !important;
  box-orient: vertical !important;
  display: flex !important;
  flex-direction: column !important;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  margin-bottom: 0px;
  max-width: 1600px;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
